.content {
  margin-top: 100px;
  color: white;
}

body {
  background-color: #001a4d;
}
.navbar {
  background-color: white;
}

.navbar-brand {
  font-family: 'Tangerine', cursive;
}

.navbar-inverse .navbar-brand:hover {
  color: black;
}

.navbar ul li {
  font-family: 'Tangerine', cursive;
  font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: black;
}

.content img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

h1 {
  border-bottom: 5px solid #001a4d;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}

@media screen and (max-width: 770px) {
  .content {
    margin-top: 360px;
  }

  .content img {
    width: 100%;
  }
}
